<% if @product_errors.errors.any? %>
<div class="error-alert">
  <ul>
    <% @product_errors.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>